<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <header class="header">
          <div class="row">
            <div class="col-md-4">
              <h1>Checklists</h1>
            </div>
            <div class="col-md-6">

            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-primary" (click)="redirectNewChecklistPage()">New Checklist</button>
            </div>
          </div>

        </header>
      </section>

      <section class="main">

        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>Creation date</th>
            <th>Title</th>
            <th>Target date</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let checklist of checklists">
            <th scope="row">{{checklist.creationDatestamp}}</th>
            <td>{{convertTime(checklist.creationDatestamp) | date : "dd/MM/yyyy:HH:mm:ss"}}</td>
            <td>{{checklist.title}}</td>
            <td>{{convertTime(checklist.targetDatestamp) | date : "dd/MM/yyyy"}}</td>
            <td>
              <button type="button" class="btn btn-success" (click)="editChecklistPage(checklist)">Edit</button>
              <button type="button" class="btn btn-danger" (click)="deleteChecklist(checklist)">Delete</button>
            </td>
          </tr>

          </tbody>
        </table>
      </section>
    </div>
  </div>
</div>
