<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <header class="header">
          <div class="row">
            <div class="col-md-4">
              <h1>Checklists</h1>
            </div>
            <div class="col-md-6">

            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-primary" (click)="redirectNewChecklistPage()">New Checklist</button>
            </div>
          </div>

        </header>
      </section>

      <section class="main">

        <table class="table">
          <thead>
          <tr>
            <th>Title</th>
            <th>Creation date</th>
            <th>Target date</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let checklist of checklists;
                      let index = index;">
            <td>
              <ngb-accordion #acc="ngbAccordion" [activeIds]="activeIds" activeIds="ngb-panel-{{index}}">
                <ngb-panel>
                  <ng-template ngbPanelTitle>
                    {{checklist.title}}
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <table class="table">
                      <tbody>
                      <tr *ngFor="let item of checklist.items; let itemIndex = index;">
                        <td><input type="checkbox" [checked]="item.taken" disabled="disabled"/></td>
                        <td>{{item.bulletName}}</td>
                      </tr>
                      </tbody>

                    </table>
                  </ng-template>


                </ngb-panel>
              </ngb-accordion>
            </td>
            <td>{{convertTime(checklist.creationDatestamp) | date : "dd/MM/yyyy:HH:mm:ss"}}</td>
            <td>{{checklist.calendarItem.startDate | date : "dd/MM/yyyy"}}</td>
            <td>
              <button type="button" class="btn btn-success" (click)="editChecklistPage(checklist)">Edit</button>
              <button type="button" class="btn btn-danger" (click)="deleteChecklist(checklist)">Delete</button>
            </td>
          </tr>
          </tbody>
        </table>


      </section>
    </div>
  </div>
</div>
