<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <form novalidate [formGroup]="checklistForm" (ngSubmit)="onSubmit()">
          <fieldset>
            <div class="form-group">
              <label>Checklist Title</label>
              <input type="text"
                     class="form-control"
                     formControlName="title">
            </div>

            <form class="form-inline" [formGroup]="checklistForm">
              <div class="form-group">
                <label>Target Date</label>
                <div class="input-group">
                  <input class="form-control" placeholder="dd/mm/yyyy" name="dp"
                         [(ngModel)]="dateModelStartDate" ngbDatepicker #d="ngbDatepicker" formControlName='targetDateManual'>
                  <div class="input-group-btn">
                    <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                      <img src="/assets/img/calendar-icon.svg" style="width: 1.5rem; height: 1.2rem; cursor: pointer;"/>
                    </button>
                  </div>
                </div>
              </div>
            </form>


          </fieldset>
          <br/>
          <button type="submit" class="btn btn-primary"  [disabled]="!checklistForm.valid" >Submit</button>
          <button type="button" class="btn btn-warning" (click)="redirectChecklistPage()">Cancel</button>
          <pre>{{checklistForm.value | json}}</pre>
          <pre>{{ dateModelStartDate | json }}</pre>
        </form>
      </section>
    </div>
  </div>
</div>
